{% extends "base.html" %}
{% block content %}
<h1>Diffuser</h1>

<div class="col-xs-12">
    <p>Recommendation:</p>
    Nearby Locations:
    <div id="map-canvas">
    </div>
</div>

<div ng-view></div>

<script src="{{ url_for('static', filename='map.js')}}"
    type="text/javascript" charset="utf-8"></script>

<script src="{{ url_for('static', filename='lib/angular/angular.min.js')}}"
    type="text/javascript" charset="utf-8"></script>

<script src="{{ url_for('static', filename='lib/angular-route/angular-route.min.js')}}"
    type="text/javascript" charset="utf-8"></script>

<script src="{{ url_for('static', filename='app.js')}}"
    type="text/javascript" charset="utf-8"></script>

<script src="{{ url_for('static', filename='view1/view1.js')}}"
    type="text/javascript" charset="utf-8"></script>

{% endblock %}
