{% extends "base.html" %}
{% block content %}
<h1>Diffuser</h1>
<div class="col-xs-6">
    <p>Recommendation:</p>

    <p>Please go to Starbucks Union Square</p>

    Nearby Locations:
    <div id="map-canvas">
    </div>
</div>


<div class="col-xs-6">
    <h2>Crowd Poll:</h2>
    <h3>Rate this Place</h3>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Jam Packed</button>
        <button type="button" class="btn btn-default">Crowded</button>
        <button type="button" class="btn btn-default">Dispersed</button>
        <button type="button" class="btn btn-default">Spaceous</button>
        <button type="button" class="btn btn-default">Empty</button>
    </div>
</div>

<script src="{{ url_for('static', filename='map.js')}}"
    type="text/javascript" charset="utf-8"></script>
{% endblock %}
